.App {
	position: relative;
	margin: 0 8%;
	height: 100vh;
	font-family: Roboto, Arial, sans-serif;
}

.topbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	margin: inherit;
	width: calc(100% - 16%);
}

/* The first grid with the most popular news */
.first-grid {
	padding-top: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 150px 150px 150px;
	gap: 20px;
}

.mainNews {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	background-color: rgb(198, 198, 198);
}

.secondaryNews {
	color: white;
	padding: 10px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: scroll;
	position: relative;
}

.secondaryNews > h3 {
	margin-top: 0;
}

.secondaryNews > small {
	position: absolute;
	bottom: 5%;
	left: 5%;
}

/* The grid for the second part of the page */
.second-grid {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
}

.second-grid > div > h3 {
	margin-top: 0px;
	height: 40px;
	border-bottom: 0.1px solid black;
}

/* Third column */

.second_grid_third_column {
	margin-left: 20px;
}

.second_grid_third_column > h3 {
	padding-top: 50px;
}

/* The list of the conversions */
.conversions {
	list-style: none;
	padding: 0px;
	width: inherit;
	margin: 0;
}

.conversions > li {
	background-color: rgb(255, 190, 48);
	padding: 15px;
	color: black;
	margin-bottom: 5px;
	text-align: center;
	font-weight: bold;
	width: inherit;
}

/* The grid for the recent news inside the second grid */
.grid_recent {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
}

/* First column with the main news */

.mainNews_recent {
	display: grid;
	grid-template-rows: 2fr 3fr;
}

.mainNews_recent_img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.mainNews_recent_content {
	padding: 0 5%;
}

.mainNews_recent_content > small,
.mainNews_recent_content > p {
	color: rgb(148, 148, 148);
}

.mainNews_recent_content > small > strong {
	color: black;
}

/* Second column with the secondary news */

.otherNews_recent {
	height: inherit;
	padding: 0;
	margin: 0;
}

.otherNews_recent > li {
	list-style: none;
	margin-bottom: 10px;
}

.otherNews_recent > li:last-child {
	padding-bottom: 50px;
}

.otherNews_recent_image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 150px;
	min-height: 100px;
}

/* The grid inside the recent news */
.li_grid {
	display: grid;
	grid-template-columns: 2fr 3fr;
}

.li_grid > div > h4 {
	margin: 0;
	padding-bottom: 5%;
}

.li_grid > div {
	padding-left: 5%;
}

.li_grid > div > small {
	color: rgb(148, 148, 148);
}

.li_grid > div > small > strong {
	color: black;
}
